<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>JMC Wiki</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>JMC Wiki</h1>
        <div class="actions">
            <button id="btn-add" type="button">추가</button>
            <button id="btn-save" type="button">저장</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="col-check"><input type="checkbox" id="check-all"></th>
                    <th>이름</th>
                    <th>평점</th>
                    <th>카테고리</th>
                    <th>카카오 지도</th>
                    <th>방문</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {{range .Restaurants}}
                <tr data-status="" data-original-name="{{.Name}}">
                    <td class="col-check"><input type="checkbox" class="row-check"></td>
                    <td contenteditable="true" data-field="name">{{.Name}}</td>
                    <td contenteditable="true" data-field="rating">{{.Rating}}</td>
                    <td contenteditable="true" data-field="categories">{{range $i, $c := .Categories}}{{if $i}}, {{end}}{{$c}}{{end}}</td>
                    <td contenteditable="true" data-field="kakao_url">{{.KakaoURL}}</td>
                    <td class="col-visited" data-field="visited"><input type="checkbox" class="visited-check"{{if .Visited}} checked{{end}}></td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <script src="/static/main.js"></script>
    </body>
</html>
